<div class="p-4">
    <a href="/links/admin" class="text-white"><button type="button" class="btn red accent-4"><i
                class="fas fa-arrow-left"></i></button></a>
</div>
<div class="m-2 p-2">
    <table id="example" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id ruta</th>
                <th>id pasajero</th>
                <th>parada</th>
                <th>precio</th>
                <th>nombre</th>
                <th>puntuaciones</th>
                <th>Gestión</th>
            </tr>
        </thead>
        <tbody>
            {{#each solicitdes}}
            <tr>
                <td>{{id}}</td>
                <td>{{idRuta}}</td>
                <td>{{idPasajero}}</td>
                <td>{{parada}}</td>
                <td>{{precio}}</td>
                <td>{{nombre}}</td>
                <td>{{puntuacion}}</td>
                <td>
                    <form action="/links/deleteRutasSolicitads/{{id}}" class="ActionForm">
                        <button type="submit" class="btn  red darken-3"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
            {{else}}
            <h4>No hay rutas registradas</h4>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $('.ActionForm').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Confirmación',
            text: "¿De verdad quieres eliminar esta solicitud?",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#c51162',
            cancelButtonText: 'No, Eliminar',
            confirmButtonText: 'Si, Eliminar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        })
    });
</script>