<div class="jumbotron">
    <h6 class="display-4">Ruta: {{actividad.id}}</h6>
    <p class="lead">Esta ruta va desde {{actividad.lugarInicial}} - {{actividad.lugarFinal}}</p>
    <p>La referencia de esta ruta es la {{actividad.fechaCreacion}}</p>
    <hr class="my-4">
    <p>pegar el link de cobro en la siguiente entrada</p>
    <p>Si no tiene nada que pagar o su sumatoria es menor a 12.000, se le cobran 12 mil pesos para poderla habilitar, o
        si
        tiene el precio mayor que 12.000 ese precio se le cobra exactamente.</p>
    <form action="/links/enviarLiquidacinRutaInactiva/{{actividad.id}}" method="POST" class="ActionForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Link cobro PayU</label>
            <input type="text" class="form-control" id="linkCobro" name="linkCobro" aria-describedby="emailHelp"
                placeholder="paga aqui el link" value="{{actividad.linkCobro}}">
            <label for="exampleInputEmail1">Precio Pagar</label>
            <input type="text" class="form-control" id="precioPagar" name="precioPagar" aria-describedby="emailHelp"
                placeholder="paga aqui el link" value="{{actividad.precioPagar}}">
            <small id="emailHelp" class="form-text text-muted">Obligatorio cobrar ruta</small>
        </div>
        <button type="submit" class="btn red darken-3">Inactivar</button>
    </form>
    <br>
    <small id="emailHelp" class="form-text text-muted">Si no tiene pago se borra y listo.</small>
    <form action="/links/deleteRutaInactiva/{{actividad.id}}" class="ActionDeleteR">
        <button type="submit" class="btn  red darken-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </form>
</div>

<script>
    $('.ActionForm').submit(function (e) {
        e.preventDefault();
        var precio = document.getElementById("precioPagar").value;
        console.log(precio)
        if (precio === "") {
            swal.fire({
                title: "FALTAN",
                text: "EN PRECIO ESCRIBE 0",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        } else {
            Swal.fire({
                title: 'Confirmación',
                text: "¿De verdad quieres inactivar esta ruta?",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#c51162',
                cancelButtonText: 'No, Inactivar',
                confirmButtonText: 'Si, Inactivar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            })
        }

    });

    $('.ActionDeleteR').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Confirmación',
            text: "¿No tiene nada que pagar?",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#c51162',
            cancelButtonText: 'No, Inactivar',
            confirmButtonText: 'Si, Inactivar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        })
    });
</script>