<script language="JavaScript">
    window.history.replaceState({}, '', 'EditPassagersConnectionSuccess');
</script>
<div class="spinner" id="loader"></div>
<div class="container p-2">
    <form action="/links/editProfilePassager/{{dates.id}}" method="POST" onsubmit="return validar()">
    <h5>Edita tu Perfil</h5>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" name="edad" placeholder="Digita tu edad"
                value="{{dates.edad}}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="municipio">Ciudad</label>
                <input type="text" class="form-control" id="municipio" name="municipio" placeholder="Ciudad"
                    value="{{dates.municipio}}">
            </div>
            <div class="form-group col-md-4">
                <label for="departamento">Departamento</label>
                <select id="departamento" name="departamento" class="form-control">
                    <option value="{{dates.departamento}}" selected>{{dates.departamento}}</option>
                    <option>Amazonas</option>
                    <option>Antioquia</option>
                    <option>Arauca</option>
                    <option>Atlántico</option>
                    <option>Bogotá</option>
                    <option>Boyacá</option>
                    <option>Caldas</option>
                    <option>Caldas</option>
                    <option>Casanare</option>
                    <option>Cauca</option>
                    <option>Cesar</option>
                    <option>Chocó</option>
                    <option>Córdoba</option>
                    <option>Cundinamarca</option>
                    <option>Guainía</option>
                    <option>Guaviare</option>
                    <option>Huila</option>
                    <option>La Guajira</option>
                    <option>Magdalena</option>
                    <option>Meta</option>
                    <option>Nariño</option>
                    <option>Norte de Santander</option>
                    <option>Putumayo</option>
                    <option>Quindío</option>
                    <option>Risaralda</option>
                    <option>San Andrés y Providencia</option>
                    <option>Santander</option>
                    <option>Sucre</option>
                    <option>Tolima</option>
                    <option>Valle del Cauca </option>
                    <option>Vaupés</option>
                    <option>Vichada</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="celular">Celular</label>
                <input type="number" class="form-control" id="celular" name="celular" placeholder="Numero de Celular"
                    value="{{dates.celular}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Actualizar</button>
    </form>
</div>
<br>
<div class="botons">
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large black">
            <i class="large fa fa-plus"></i>
        </a>
        <ul>
            <li><a class="btn-floating seguir" href="javascript: history.go(-1)"><i class="fas fa-arrow-left"></i></a></li>
            <li><a class="btn-floating seguir" href="/links/profiles"><i class="fa fa-address-book"></i></a></li>
            <li><a class="btn-floating seguir" href="/links/routes"><i class="fa fa-route"></i></a></li>
            <li><a class="btn-floating seguir" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            toolbarEnabled: true
        });
    });
    function validar() {
        //Aca aprendes. 
        var edad, ciudad, depart, telefono, modelo;
        edad = document.getElementById("edad").value;
        ciudad = document.getElementById("municipio").value;
        depart = document.getElementById("departamento").value;
        telefono = document.getElementById("celular").value;

        if (edad === "" || ciudad === "" || depart === "" || telefono === "") {
            swal.fire({
                title: "FALTAN",
                text: "DATOS POR LLENAR",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
        else if (telefono.length != 10) {
            swal.fire({
                title: "Celular",
                text: "NO ES VALIDO",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
        else if (isNaN(telefono)) {
            swal.fire({
                title: "Teléfono",
                text: "NO ES VALIDO",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }else{
            document.getElementById("loader").style.display = "block";
        }
    }
      
    $('.seguir').on("click", function () {
        document.getElementById("loader").style.display = "block";
    });
</script>